[class^="x-"], [class*=" x-"] {
  background-repeat: no-repeat;
  background-size: 100%;
}

i[class^="x-"], i[class*=" x-"] {
  font-size: 0;
  display: inline-block;
}

.x-coldbrew_bottle {
  width: 420px; height: 600px;
  background-image: url(images/coldbrew_bottle.jpg);
}



