[class^="x-"], [class*=" x-"] {
  background-repeat: no-repeat;
  background-size: 100%;
}

i[class^="x-"], i[class*=" x-"] {
  font-size: 0;
  display: inline-block;
}

.x-vietnam_top_front {
  width: 960px; height: 420px;
  background-image: url(images/vietnam_top_front.jpg);
}
.x-outdoor_white_cup_right {
  width: 960px; height: 420px;
  background-image: url(images/outdoor_white_cup_right.jpg);
}
.x-outdoor_white_cup_left {
  width: 960px; height: 420px;
  background-image: url(images/outdoor_white_cup_left.jpg);
}
.x-outdoor_white_cup_bottom {
  width: 960px; height: 420px;
  background-image: url(images/outdoor_white_cup_bottom.jpg);
}
.x-marybrew-slide-3 {
  width: 960px; height: 420px;
  background-image: url(images/marybrew-slide-3.jpeg);
}
.x-marybrew-slide-2 {
  width: 960px; height: 420px;
  background-image: url(images/marybrew-slide-2.jpeg);
}
.x-marybrew-slide-1 {
  width: 960px; height: 420px;
  background-image: url(images/marybrew-slide-1.jpeg);
}
.x-coldbrew_three_bottles {
  width: 800px; height: 400px;
  background-image: url(images/coldbrew_three_bottles.jpg);
}
.x-coldbrew_serving {
  width: 420px; height: 600px;
  background-image: url(images/coldbrew_serving.jpg);
}
.x-coldbrew_display {
  width: 420px; height: 600px;
  background-image: url(images/coldbrew_display.jpg);
}
.x-coldbrew_bottle {
  width: 420px; height: 600px;
  background-image: url(images/coldbrew_bottle.jpg);
}



