[class^="x-"], [class*=" x-"] {
  background-repeat: no-repeat;
  background-size: 100%;
}

i[class^="x-"], i[class*=" x-"] {
  font-size: 0;
  display: inline-block;
}

.x-sewarimx {
  width: 395px; height: 405px;
  background-image: url(images/sewarimx.png);
}



