@import '../../lib/shared/fonts.less';
@import '../../lib/shared/slider.less';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 84px;
  font-size: 105%;
  line-height: 1.6;
  font-weight: 100;
  font-family: Gayathri;
}

.link {
  background-color: white;
  font-weight: 100;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }

  &[aria-current] {
    font-weight: 700;
  }
}

.wip {
  text-align: center;
  max-width: 600px;
  padding: 50px;
  margin: auto;

  svg {
    max-width: 100%;
  }
}

button,
.button {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 10px 10px 5px;
  border: 0;
  font-size: 1em;
  cursor: pointer;
  font-weight: 100;
  font-family: Gayathri;

  &:hover {
    background-color: black;
    color: white;
  }

  + button,
  + .button {
    margin-left: 10px;
  }
}

footer {
  border-top: 1px solid black;
  max-width: 720px;
  margin: 20px auto;
  text-align: center;
}

h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

svg path { transition: all .3s;  }

.f-100 { font-weight: 100;  }
.f-400 { font-weight: 400;  }
.f-700 { font-weight: 700;  }

.small { font-size: .9em; }
.normal { font-size: 1em; }
.medium { font-size: 1.3em; }
.bigger { font-size: 1.8em; }
.biggest { font-size: 2.5em; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 720px) {
  .md-flex { .flex; }
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  svg {
    width: inherit;
    height: inherit;
  }
}

.logo {
  width: 48px;
  height: 48px;
}

.nosl {
  cursor: default;
  user-select: none;
}

.reset {
  background-color: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
}

.debug * {
  outline: 1px solid pink;
}

.segment {
  max-width: 960px;
  margin: auto;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, .3);
}

.box-shadow {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, .9);
}

.solid-shadow {
  box-shadow: 1px 1px 0 black,
              2px 2px 0 black,
              3px 3px 0 black,
              4px 4px 0 black,
              5px 5px 0 black;
}

.fix-cover {
  img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
  }
}

.counter {
  background-color: black;
  color: white;
  min-width: 24px;
  min-height: 20px;
  line-height: 1;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

.home-slider {
  height: 420px;
  margin-top: 50px;
}

.product-slider {
  min-width: 420px;
  height: 600px;

  @media screen and (max-width: 959px) {
    min-width: 360px;
  }

  @media screen and (max-width: 719px) {
    height: 420px;
  }

  @media screen and (max-width: 419px) {
    min-width: auto;
  }
}

#menu {
  background-color: white;
  transition: top .2s;
  position: fixed;
  padding: 10px;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0;

  &.hide { top: -85px; }

  .email:hover .icon path { fill: #B23121; }
  .instagram:hover .icon path { fill: #F00076; }
  .facebook:hover .icon path { fill: #3d5a9a; }

  .social {
    .icon {
      opacity: 0.1;
      transition: opacity .3s;
    }

    .logo { opacity: 1; }

    &:hover {
      .icon { opacity: 1; }
    }

    > * {
      min-width: 32px;
    }
  }

  .sub {
    position: relative;

    &:hover {
      > ul {
        display: block;
      }

      &::before {
        position: absolute;
        content: '';
        background-color: white;
        width: 12px;
        height: 12px;
        z-index: 3;
        border-top: 1px solid black;
        border-left: 1px solid black;
        transform: rotate(45deg) translate(34px, 18px);
      }
    }

    &.at-right {
      text-align: right;

      ul {
        right: 0;
      }
    }
  }

  ul {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    background-color: white;
    border: 1px solid black;
    position: absolute;
    display: none;
    width: inherit;
    z-index: 2;
  }

  li {
    padding: 10px;
  }

  @media screen and (min-width: 420px) {
    .min-width {
      min-width: 85px;
    }
    .social {
      > * {
        min-width: 42px;
      }
    }
    .icon {
      width: 32px;
      height: 32px;
    }
    .logo {
      width: 64px;
      height: 64px;
    }
  }
}

#cat {
  max-width: 800px;
  margin: 80px auto 0;

  li {
    margin-top: 10px;
    position: relative;

    &::before {
      box-shadow: inset 0 0 100px black;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

#it {
  margin-top: 50px;
  position: relative;

  aside {
    padding: 45px;
    flex: 1 1 auto;
  }
}
