#cat
  ul.nosl.reset
    li.fix-cover
      .overlay
        .actions
          +linkFor('/marybrew-coffee/', 'View more').solid-shadow.button
          button.solid-shadow(data-buy='marybrew-coffee') SHOP NOW
      img(alt='FIXME' src='images/coldbrew_three_bottles.jpg')
