#cat
  ul.nosl.reset
    li.h-cover
      .overlay
        .actions
          +linkFor('/marybrew-coffee/', 'View more').shadowed.button
          button.shadowed SHOP NOW
      img(src='images/coldbrew_three_bottles.jpg')
