#cat
  ul.nosl.reset
    each item in data.items
      li.fix-cover
        .overlay
          .actions
            h3.bigger= item.product.name
            +linkFor(`/${item.product.key}/`, 'Ver más').solid-shadow.button
        img(alt=item.product.name src=item.product.image)
