#cat
  ul.nosl.reset
    li.fix-cover
      .overlay
        .actions
          +linkFor('/marybrew-coffee/', 'View more').solid-shadow.button
          button.solid-shadow SHOP NOW
      img(src='images/coldbrew_three_bottles.jpg')
