.CSSgal
  // Don't wrap targets in parent
  s#s1
  s#s2
  s#s3
  s#s4
  .slider
    div(style='background:#5b8;')
      h2
        | PURE
        b CSS
        |  SLIDESHOW
      p
        | Responsive Slideshow Gallery created using CSS only
        br
        | by Roko
    div(style='background:#85b;')
      h2 Slide 2
    div(style='background:#e95;')
      h2 Slide 3
    div(style='background:#e59;')
      h2 Slide 4
  .prevNext
    div
      a(href='#s4')
      a(href='#s2')
    div
      a(href='#s1')
      a(href='#s3')
    div
      a(href='#s2')
      a(href='#s4')
    div
      a(href='#s3')
      a(href='#s1')
  .bullets
    a(href='#s1') 1
    a(href='#s2') 2
    a(href='#s3') 3
    a(href='#s4') 4
