extends ../lib/layouts/default

block head
  title About

block body
  .segment
    .wip.nosl.md-flex
      div
        p Sewari ofrece una alternativa natural para combatir el estres y la ansiedad con productos mexicanos de alta calidad infusionados con cañamo organico. 
