extends ../lib/layouts/default

block head
  title About

block body
  .segment
    .wip.nosl.md-flex
      div
        h1 Work in progress...
      div
        resources
        img(src='viznaga_logo.png')

