extends ../lib/layouts/default

block head
  title About

block body
  .segment
    .wip.nosl.md-flex
      div
        h1 se'wari del raramuri se'wa=florecer arí=tarde. Es una marca que nace durante la pandemia COVID19 en el año 2020 en Guadalajara Jalisco, como una necesidad de controlar la ansiedad y depresion que se ha generado por el confinamiento mundial hasta el dia #65, que ofrece diversos productos infusionados con cañamo organico para complementar nuestra vida diaria y ayudar a mejorar nuestra salud mental. 
      div
