extends ../lib/layouts/default

block head
  title Contact

block body
  .segment
    .wip.nosl.md-flex
      div
        h1 Work in progress...
      div
        resources
        img(alt='Viznaga (logotipo)' src='viznaga_logo.png')

