extends ../lib/layouts/default

block head
  title Contact

block body
  .segment
    .wip.nosl.md-flex
      div
        h1 Contact info: <a href="mailto:sewari.mx@gmail.com">sewari.mx@gmail.com</a>
