---
data: !include ../products/_collection.yml
---

extends ../lib/layouts/default

block head
  title Homepage

block body
  +slider('/', 3).home-slider.segment.box-shadow
    div(style='background-image:url(https://cdn.glitch.com/4b30a8b8-91b6-4fa0-ba0c-b40590bc5b76%2F0D6C4BD9-0EB5-49A6-9149-3DBDE4C01FFA.jpeg?v=1602099827283);')
    div(style='background-image:url(https://cdn.glitch.com/4b30a8b8-91b6-4fa0-ba0c-b40590bc5b76%2F48268940-0D14-4D33-9257-B2EEC0665EA5.jpeg?v=1602099877015);')
    div(style='background-image:url(https://cdn.glitch.com/4b30a8b8-91b6-4fa0-ba0c-b40590bc5b76%2F3EA72416-12F2-4BD8-A185-BD6890EFDAEE.jpeg?v=1602102470828);')

  include ../lib/partials/all_products
