extends ../lib/layouts/default

block head
  title Homepage

block body
  +slider('/', 3).home-slider.segment.box-shadow
    div(style='background-image:url(images/outdoor_white_cup_right.jpg);')
    div(style='background-image:url(images/outdoor_white_cup_bottom.jpg);')
    div(style='background-image:url(images/outdoor_white_cup_left.jpg);')

  include ../lib/partials/all_products
