---
test: 42
---

extends ../lib/layouts/default

block head
  title MaryBrew coffee

block body
  #it
    .md-flex
      +slider('/marybrew-coffee/', 3).product-slider
        div(style='background:#5b8;')
          h2 Slide 1
        div(style='background:#85b;')
          h2 Slide 2
        div(style='background:#e95;')
          h2 Slide 3
        div(style='background:#e59;')
          h2 Slide 4
      aside
        h1 MaryBrew coffee (#{test})
        p Esto es una descripción con mucho texto que se rompería en varias lineas...
