extends ../lib/layouts/default

block head
  title MaryBrew coffee

block body
  #it
    .md-flex
      picture.v-cover
        img(src='//placehold.it/420x600')
      aside
        h1 MaryBrew coffee
        p Esto es una descripción...
