include ../mixins/helpers

doctype html
html.no-js(lang='en')
  head
    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=GIT_REVISION)
    base(href=(ROOT || '') + '/')

    include ../partials/head
  body
    destFile(src='sprites.svg')

    nav#menu.segment
      .nosl.flex
        span.sub
          span.icon: +iconImage('menu')
          ul.reset
            li: +linkFor('/', 'Home')
            li: +linkFor('/about', 'About')
            li: +linkFor('/contact', 'Contact')
        span.flex
          a.icon(href='mailto:sewari.mx@gmail' target='_blank'): +iconImage('email')
          a.icon(href='https://facebook.com/sewarimx' target='_blank'): +iconImage('facebook')
          a.icon(href='https://instagram.com/sewari.mx' target='_blank'): +iconImage('instagram')
        span.sub.at-right
          span.counter -
          span.icon: +iconImage('cart')
          ul.reset
            li: +linkFor('/checkout', 'Checkout')

    block body

    footer
      p Copyright &copy; #{new Date().getFullYear()} Sewari.mx

    block scripts
