include ../mixins/helpers

doctype html
html.no-js(lang='en')
  head
    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=GIT_REVISION)
    base(href=(ROOT || '') + '/')

    link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png')
    link(rel='manifest' href='site.webmanifest')

    include ../partials/head
  body
    if process.env.NODE_ENV === 'production'
      destFile(src='sprites.svg')

    nav#menu.hide
      .nosl.flex.segment
        span.sub.min-width
          span.icon: +iconImage('menu')
          ul.reset
            li: +linkFor('/', 'Home')
            li: +linkFor('/about', 'About')
            li: +linkFor('/contact', 'Contact')
        span.flex.social
          span.sub.email
            span.icon: +iconImage('email', true)
            ul.reset
              li: a.link(href='mailto:sewari.mx@gmail.com') sewari.mx@gmail.com
          span
            +linkFor('/').icon.logo: +iconImage('logo_viznaga')
          span.sub.at-right.instagram
            span.icon: +iconImage('instagram', true)
            ul.reset
              li: a.link(href='https://instagram.com/sewari.mx' target='_blank') @sewari.mx
          span.sub.at-right.facebook
            span.icon: +iconImage('facebook', true)
            ul.reset
              li: a.link(href='https://facebook.com/sewarimx' target='_blank') fb.com/sewarimx
        span.sub.at-right.min-width
          span#cart
          span.icon: +iconImage('cart')
          ul.reset
            li: +linkFor('/checkout', 'Checkout')

    block body

    script.
      const topMenu = document.querySelector('#menu');

      setTimeout(() => {
        topMenu.classList.remove('hide');
      }, 260);

    noscript
      style #menu.hide { top: 0; }

    includeTag(src='main.js')

    block scripts

    footer.nosl
      p Copyright &copy; #{new Date().getFullYear()} Sewari.mx
