include ../mixins/helpers

doctype html
html.no-js(lang='en')
  head
    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=GIT_REVISION)
    base(href=(ROOT || '') + '/')

    link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png')
    link(rel='manifest' href='site.webmanifest')

    include ../partials/head
  body
    if process.env.NODE_ENV === 'production'
      destFile(src='sprites.svg')

    nav#menu.hide
      .nosl.flex.segment
        span.sub
          span.icon: +iconImage('menu')
          ul.reset
            li: +linkFor('/', 'Home')
            li: +linkFor('/about', 'About')
            li: +linkFor('/contact', 'Contact')
        span.flex.social
          a.icon.email(href='mailto:sewari.mx@gmail' target='_blank'): +iconImage('email', true)
          +linkFor('/').icon.logo: +iconImage('logo', true)
          a.icon.instagram(href='https://instagram.com/sewari.mx' target='_blank'): +iconImage('instagram', true)
          a.icon.facebook(href='https://facebook.com/sewarimx' target='_blank'): +iconImage('facebook', true)
        span.sub.at-right
          span.counter -
          span.icon: +iconImage('cart')
          ul.reset
            li: +linkFor('/checkout', 'Checkout')

    block body

    script.
      const topMenu = document.querySelector('#menu');

      setTimeout(() => {
        topMenu.classList.remove('hide');
      }, 260);

    noscript
      style #menu.hide { top: 0; }

    includeTag(src='main.js')
    footer
      p Copyright &copy; #{new Date().getFullYear()} Sewari.mx

    block scripts
