include ../mixins/helpers

doctype html
html.no-js(lang='en')
  head
    +baseTag

    include ../partials/head

    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=GIT_REVISION)

  body
    destFile(src='sprites.svg')

    nav#menu
      .flex
        span
          span.icon: +iconImage('menu')
        span.flex
          a.icon(href='mailto:sewari.mx@gmail' target='_blank'): +iconImage('email')
          a.icon(href='https://facebook.com/sewarimx' target='_blank'): +iconImage('facebook')
          a.icon(href='https://instagram.com/sewari.mx' target='_blank'): +iconImage('instagram')
        span
          span.icon: +iconImage('cart')
      ul.reset
        li: +linkFor('/', 'Home')
        li: +linkFor('/about', 'About')
        li: +linkFor('/contact', 'Contact')

    block body

    footer
      p Fixme please...

    block scripts
